.header-background{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    border-bottom: 4px solid  #373F47;
}

.header-logo img{
    width: 70px;
}